* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  h2 {
    font-size: 30;
    text-align: center;
    color: white;
    padding-top: 25px;
  
    padding-bottom: 25px;
    font-weight: 500;
    background: $primary-color;
  }
  
  h4 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background: $primary-color;
    border-radius: 10%;
    margin-bottom: 10px;
  }