/*modelos*/
.imgprod {
    height: 200px;
    width: 200px;
  
    position: center;
    border-radius: 100%;
  }
  .fa-cart-shopping {
    color: $primary-color;
  }
  .nav-link{
    color: $primary-color;
  }