.resumenNosotros {
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 40px;
    color: #3a3a3a;
    text-align: justify;

}
.imagendesc{
    padding-left: 10px;
    padding-bottom: 10px;
    width: 200px;
}
.imagensapo{
    padding-right: 10px;
    padding-bottom: 10px;
    width: 200px;
}
.p1{
    padding-bottom: 50px;
}